/*********************************************
	Inherited Styles
**********************************************/

html {
    box-sizing: border-box;
    color: #444;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/*********************************************
	Defaults
**********************************************/
body {
    /*background-color: #4f4e4e;*/
    font-size: 13px;
    margin: 0px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    margin: 0;   
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.1em;
}

button {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

img {
    border: none;
}

i {
    padding-right: 5px;
}


/*********************************************
	Helpers
**********************************************/

/*********************************************
    Layout
**********************************************/
.panel {
    /*background-color: blue;*/
}

.panel > div {
    text-align: center;
    position: relative;
}

header.main-header {
    height: 55px;
    width: 100%;
}

header.privacy-header {
    position: fixed;
    box-shadow: 0px 0px 15px -2px #828080;
    background-color: white;
}

.collapsed-navbar {
    /*background-color: teal;*/
    position: absolute;
    top: 55px;
    width: 100%;
    display: none;
}

.collapsed-navbar a {
    background-color: #099246;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;

}

.collapsed-navbar a:hover, a:focus {
    background-color: #015b25;
}

.main-navbar {
    /*background-color: white;*/
    display: none;
    position: absolute;
    top: 45px;
    right: 15px;
    width: auto;
}

.main-navbar a {
    /*background-color: white;*/
    color:  #099246;
    display: inline;
    font-size: .9em;
    text-decoration: none;
    padding: 15px;

}

.main-navbar a:hover, a:focus {
    color: #015b25;
}


.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/loneman.png");
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    /*background-color: teal;*/
}

.application {
    background-image: none;
    color: #444;
}

.privacy-policy {
    text-align: left;
    padding: 100px 20px 20px 20px;
}

.main-content {
    /*background-color: green;*/
}

.main-content > div {
    padding: 10px;
}

.secondary-content {
    background-color: #c9d3cd;
}

.secondary-content {
    padding: 20px;
}

.tertiary-content {
    background-color: white;
}

.tertiary-content {
    padding: 20px;
}

footer.main-footer {
    /*background-image: url("images/tweed.png");*/
    background-color: #099246;
    color: white;
}


/*********************************************
    Components
**********************************************/


/*******Header********/
.main-header > div {
    width: 100%;
    /*background-color: blue;*/
    margin: auto;
    position: absolute;
    z-index: 2;
    height: 55px;
    right: 0;
    left: 0;
}

.logo {
    /*background-color: white;*/
 /*   height: 60px;
    width: 250px;*/
    position: absolute;
    left: 15px;
    top: 7px;
}

.privacy-header .logo {
    left: initial;
    right: 20px;
}

.hideit {
    display: none; 
}

/*.terms {
    background-color: black;
    height: 60px;
    width: 250px;    
    position: absolute;
    right: 15px;
    top: 7px;
}*/

.collapsed-menu {
    background-color: #099246;
    height: 35px;
    width: 45px;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.collapsed-menu div:first-child {
    margin-top: 8px;
}

.collapsed-menu div {
    width: 60%;
    height: 3px;
    border: none;
    background-color: white;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 20px;
}

.siteseal {
    padding: 15px;
}

.collapsed-menu:hover {
    cursor: pointer;
    background-color: #015b25;
}

.back-button {
    background-color: #099246;
    position: absolute;
    left: 15px;
    top: 10px;
    border-radius: 5px;
    color: white;
}

.back-button button {
    padding: 10px;
}

/********Hero Content*********/
.hero-content {
    /*color: white;*/
    padding: 10px;
    /*background-color: yellow;*/
}

.hero-headline {
    padding-top: 20px;
}

.hero-content h3 {
    font-weight: normal;
    color: #099246;
}

.pre-form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 40px;
    /*color: white;*/
}

.pre-form > div {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0,0,0,0.5);
}

.pre-form h3 {
    padding-top: 10px;
    font-size: .85em;
    padding: 20px 0;
    font-weight: normal;
}

.input {
    padding-bottom: 15px;
}

.input select, .input input {
    width: 100%;
    border: none;
    height: 35px;
    color: black;
}

.input input {
    border-radius: 5px;
    padding-left: 8px;
}

.label {
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
}

.credit-label > div {
    display: inline-block;
}

.credit-linkout {
    font-size: .7em;
    padding-left: 20px;
    font-weight: normal;
}

.credit-linkout a {
    font-weight: bold;
}

.form-submit {
    padding-bottom: 40px;
}

.preform-submit {
    padding-bottom: 10px;
}

.form-button {
    
    border-radius: 3px;
    width: 100%;
    color: white;
    background-color: #099246;
    height: 45px;
    margin-top: 20px;
    text-transform: uppercase;
}

.submit-terms {
    font-size: .8em;
    padding-bottom: 20px;
}

.cf::after {
    content: "";
    clear: both;
    display: block;
}



/********Main Content**********/

.main-content-headline {
    /*background-color: white;*/
    padding-bottom: 10px;
}

.media-object {
    /*background-color: red;*/
    overflow: hidden;
    padding: 10px 0px;
}

.selling-point {
    text-align: left;
}

.selling-point-image {
    float: left;
    /*background-color: blue;*/
    font-size: 2.6em;
    padding: 0 5px;
    margin-top: -2px;
    color: #099246;
}

.selling-point-content {
    margin-left: 35px;
    /*background-color: yellow;*/
    padding: 0px 5px;
}

.econsent-headline {
    text-align: center;
}

.econsent-italic {
    font-style: italic;
}


/*******Secondary Content********/


/*******Tertiary Content********/


/*******Disclaimer Content********/

.disclaimer {
    background-color: grey;
    padding: 10px;
    text-align: left;
    color: white;
    font-size: .8em;
}

.copyright {
    text-align: center;
}

/*******Footer********/

.footer-contact-info {
    text-align: center;
}


.footer-contact-info > div {
    padding: 10px 20px;
    display: inline-block;
}


/**************Form*******************/

.application {
    background-color: #f5f5f5;
    padding-bottom: 20px;
}

.application h4 {
    font-weight: normal;
}

header.application-header {
/*    background-color: red;*/
    height: 55px;
    position: relative;
    box-shadow: 0px 0px 15px -2px #828080;

}

.logo-application {
    /*background-color: white;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.application-progressbar {
    padding: 10px;
    font-size: .7em;
    color: #828080;
    /*padding-top: 80px;*/
}

.application-progressbar > div {
    display: inline-block;
}

.application-progressbar .active {
    color: darkgreen;
    font-weight: bold;
    font-size: 1.4em;
}

.progressbar-text {
    display: inline-block;
    padding-right: 10px;
}

.application-progressbar span {
    font-size: .5em;
}

.application h2 i {
    padding-left: 10px;
}

.application h2 i:hover {
    cursor: help;
}

.application-form form {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: white;

}

.application-form h3 {
    font-size: .85em;
    padding: 10px;
}

.application-form h2 {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: normal;
}

.application-form hr {
    margin-top: 0;
    margin-bottom: 20px;
    border-width: 1px 0 0 0;
}

.application .input select, input {
    height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.three-field-format select {
    width: 32.5%;
}

.first-step-continue {
    width: 125px;
}

.application-second-step, .application-third-step h2 {
    padding-top: 20px;
}

.next-steps > div {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;

}

.next-steps-back {
    width: 60%;
    text-align: left;
    font-size: .9em;
    padding-left: 20px;
}

.next-steps-back span:hover {
    cursor: pointer;
}

.next-steps-continue {
    text-align: right;
    width: 38%;
}

.next-steps-continue button {
    margin-top: 0px;
    width: 125px;

}

.form-button:hover {
    cursor: pointer;

}

.application-processing-step {
    padding-top: 40px;
    padding-bottom: 100px;
}

.application-processing-step h1 {
    font-size: 1.6em;
}

.application-processing-step h2 {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.progress-timer {
    font-size: 8em;
    padding: 40px;
}

.time-notification-box {
    border: 1px solid #099246;
    border-radius: 5px;
    padding: 20px 5px;
    margin-bottom: 10px;
    background-color: #e1f2e8;
}

.good-news {
    font-size: 1.6em;
}

.pl-denial {
    padding-top: 20px;
}

.pl-denial span {
    font-weight: bold;
    color: #d64d4d;
}

.pl-denial > h2 {
    margin-top: 20px;
    font-size: 1.1em;
}

/*.pl-denial h1 {
    font-size: 1.6em;
}*/

.pl-denial i {
    color: #d64d4d;
}

.chance-approval {
    margin: 20px 0;
    font-size: 1em;
}

.chance-approval > button {
    border-radius: 5px;
    padding: 20px;
    width: 75%;
    margin: auto;
    font-weight: normal;
}

.high-chance > button {
    border: 2px solid #099246;
    background-color: #e1f2e8;
}

.low-chance > button {
    border: 2px solid #d64d4d;
    background-color: #f7e3e3;  
}

.chance-approval > button:hover {
    cursor: pointer;
/*    font-weight: bold;*/
}

.high-chance h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.low-chance h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.high-chance > button:hover {
    background-color: #099246;
}

.low-chance > button:hover {
    background-color: #d64d4d;
}


/*.high-chance > div:hover h2 {
    color: #05602d;
}

.low-chance >div:hover h2 {
    color: #b50101;
}*/


/***********************************************
                Credit Offer
************************************************/


.thanks {
    background-color: blue;
}

.thanks h1 {
    margin-top: 10px;
}

.credit-content {
    background-color: red;
}

.credit-content > div {
    background-color: yellow;
    margin: auto;
    width: 300px;
}

.credit-form-header {
    background-color: black;
}

.credit-form-header > div {
    background-color: green;
    width: 300px;
    margin: auto;
}

.credit-form {
    background-color: orange;
    height: 350px;
}

.credit-form > div {
    background-color: grey;
    height: 300px;
}

.credit-form form {
    background-color: red;
    width: 300px;
    height: 350px;
    margin: auto;
}

/***********************************************
                Media Points
************************************************/
@media (max-width: 400px) {
    .application-progressbar {
        font-size: .55em;
    }
}


@media (min-width: 480px) {

    .application-progressbar {
        font-size: .9em;
    }

    .application-form h3 {
        font-size: 1.6em;
    }

    .chance-approval > button {
    width: 350px;
    }
}

@media (min-width: 660px) {

    .logo.showit {
        display: none;
    }

    .logo.hideit {
        display: block;
    }

    .application-header .hideit {
        display: block;
    }

    .application-header .showit {
        display: none;
    }

    .logo-application {
        position: static;
        transform: none;
        text-align: left;
        padding: 5px 30px;
    }

    .back-button {
        top: 20px;
    }

    .back-button button {
        padding: 10px 20px;
    }

    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/loneman.png);
    }

    .hero > div, .main-content > div, .secondary-content > div, .tertiary-content > div, .privacy-policy > div {
        width: 660px;
        margin: auto;
    }

    .application-header > div, .application > div {
        width: 660px;
        margin: auto;
    }

    .collapsed-menu {
        display: none;
    }

    header.main-header {
        height: 75px;
    }

    header.application-header {
        height: 75px;
    }

    .main-header > div {
        height: 75px;
        width: 660px;
    }

    .main-navbar {
        display: block;
    }

    h2 {
        font-size: 2.6em;
    }

    .hero-content h3 {
        font-size: 1.8em;
    }

    .pre-form {
        padding-bottom: 40px;
    }

    .pre-form > div {
        background-color: rgba(0,0,0,0.3);
    }

    .pre-form h3 {
        font-size: 1.4em;
    }

    .field {
        width: 48%;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    .preform-button {
        width: 30%;
    }

    .credit-linkout {
        font-size: .85em;
    }

    .selling-point {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.2em;
    }

    .collapsed-navbar {
        display: none !important;
    }
  
    .secondary-content p, .tertiary-content p {
        font-size: 1.2em;
    }

    .chance-approval {
    font-size: 1.2em;
    }

    .low-chance {
        margin-bottom: 60px;
    }

    .pl-denial > h2 {
    font-size: 1.3em;
    }

    .good-news {
    font-size: 1.9em;
    }
}

@media (min-width: 930px) {



    .main-header > div {
        height: 75px;
        width: 930px;
    }

    .hero > div, .main-content > div, .secondary-content > div, .tertiary-content > div, .privacy-policy > div {
        width: 930px;
        margin: auto;
    }

    .application-header > div, .application > div {
        width: 930px;
        margin: auto;
    }

    .application > div {
        position: relative;
        padding: 20px;
    }

    .application-form h3 {
        padding: 20px;
    }

    .application-progressbar {
        width: 250px;
        position: absolute;
        top: 30px;
        right: 0;
    }

    .application-progressbar > div {
        display: block;
        padding-bottom: 15px;
    }

    .application-progressbar > div i {
        float: left;
        width: 20px;
    }

    .progressbar-text {
        margin-left: 25px;
        text-align: left;
        display: block;
    }

    .ssl-info.hideit {
        display: initial;
    }

    .ssl-info.showit {
        display: none;
    }

    .ssl-info {
        position: absolute;
        width: 250px;
        padding: 10px;
        padding-top: 20px;
        top: 200px;
        right: 0;
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        background-color: white;
    }

    .siteseal {
        padding: 10px;
    }

    .pre-form {
        padding-bottom: 120px;
    }

    .hero-content h2 {
        font-size: 3.6em;
    }

    .hero-content h3 {
        font-size: 2.2em;
    }

    .field {
        width: 170px;
        display: inline-block;
    }

    .application-form form {
        width: 650px;
    }

    .application .field {
        width: 97%;
        margin: 0;
        text-align: left;
        /*background-color: green;*/
    }

    .application .label {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
        text-align: right;
        /*background-color: yellow;*/

    }

    .application .input {
        width: 60%;
        display: inline-block;
        padding-left: 10px;
        padding-right: 30px;
        /*background-color: red;*/
    }

    .application .label label {
        vertical-align: middle;
    }

    .application-first-step .form-submit {
        text-align: right;
        padding-right: 160px;
    }

    .next-steps {
    width: 75%;
    }

    .credit-linkout {
        padding: 5px;
        font-size: .65em;
    }

    .application .credit-label > div {
        display: block;
    }

    .application .credit-linkout {
        padding-left: 0;
    }


    .preform-submit {
        display: inline-block;
        padding-left: 5px;
    }

    .preform-button {
        width: 115px;
    }

    .submit-terms {
        font-size: .9em;
    }

    .application-processing-step h1 {
    font-size: 2.4em;
    }

    .application-processing-step h2 {
        font-size: 1.5em;
    }

    .progress-timer {
        font-size: 12em;
    }

    .application-processing-step h4 {
        font-size: 1.2em;
    }

}

@media (min-width: 1170px) {

   .application-header > div, .application > div {
        width: 1170px;
        margin: auto;
    }

    .application-form form {
        width: 780px;
    }

    .application-progressbar {
        right: 100px;
    }

    .ssl-info {
        right: 100px;
    }

}

.hidden {
    display: none;
}

input.error, select.error {
  border: 1px solid #a94442 !important;
}

input.success, select.success {
  border: 1px solid #3c763d !important;
}

.progress-circle {
  position: relative;
  height: 156px;
}

.progress-circle strong {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 10px;
  right: 0;
  top: 63px;
  font-size: 24px;
}
